header .nav-top {
  border-bottom: 1px solid rgba(128, 128, 128, 0.196);
}
header .nav-top .nav-top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-top .nav-top-content .nav-top-right {
  display: flex;
  align-items: center;
}
header .nav-top .nav-top-content .nav-top-right .nav-num {
  margin: 0 !important;
}
header .nav-top .nav-top-content .nav-top-right .nav-iconn {
  margin: 0 0 0 10px !important;
  padding: 30px 33px;
  background-color: #F6214B;
}
header .nav-top .nav-top-content .nav-top-right .nav-iconn i {
  font-size: 18px;
  color: #fff;
}
header .nav-bottom .nav-logo-img {
  width: 150px;
}
header .nav-bottom .tgBtn {
  padding: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}
header .nav-bottom .nav-menuu {
  justify-content: center !important;
}
header .nav-bottom .nav-link {
  text-transform: uppercase;
  font-size: 12px !important;
  font-weight: 700;
}
header .nav-bottom .nav-brand {
  display: none;
}

#sec-hero {
  background: url("/assets/img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  padding: 80px 0;
}
#sec-hero .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
#sec-hero .container .sec-hero-content {
  padding: 60px 0;
}
#sec-hero .container .sec-hero-content .sec-hero-text-content {
  padding: 80px 0;
  text-align: center;
}
#sec-hero .container .sec-hero-content .sec-hero-text-content h2 {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
#sec-hero .container .sec-hero-content .sec-hero-text-content p {
  text-transform: uppercase;
  color: #fff;
}

#sec-about {
  padding: 40px 0;
}
#sec-about .sec-about-content {
  padding: 40px 0;
}
#sec-about .sec-about-content .sec-about-main-text {
  text-align: center;
}
#sec-about .sec-about-content .sec-about-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
#sec-about .sec-about-content .sec-about-cards .cardBox {
  width: 360px;
}
#sec-about .sec-about-content .sec-about-cards .cardBox button {
  background-color: rgb(192, 9, 9);
  border: 2px solid rgb(227, 3, 70);
  color: #fff;
}
#sec-about .sec-about-content .sec-about-cards .cardBox img {
  width: 100%;
}
#sec-about .sec-about-content .loadBtnDiv {
  text-align: center;
  padding-top: 90px;
}
#sec-about .sec-about-content .loadBtnDiv button {
  width: 180px;
  height: 45px;
  border-radius: 25px;
  border: 2px solid rgb(195, 0, 0);
  color: #fff;
  background-color: #db002c;
}

.getForm {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

#sec-courses {
  padding: 60px 0;
}
#sec-courses .courses-content {
  padding: 20px 0;
}
#sec-courses .courses-content .courses-main-text {
  text-align: center;
}
#sec-courses .courses-content .courses-cards {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
#sec-courses .courses-content .courses-cards .cardd {
  position: relative;
}
#sec-courses .courses-content .courses-cards .cardd .imgDiv button {
  position: absolute;
  left: 5%;
  top: 55%;
  border: 0;
  outline: 0;
  background-color: #F6214B;
  color: #fff;
  width: 180px;
  height: 42px;
}
#sec-courses .courses-content .courses-cards .cardd .textDiv {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#sec-courses .courses-content .courses-cards .cardd .textDiv p {
  margin: 0;
}

#sec-transaction {
  background: url("/assets/img/callto-bg.jpg");
  padding: 40px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
#sec-transaction .transaction-content {
  padding: 40px 0;
}
#sec-transaction .transaction-content .transaction-text-content {
  padding: 40px 0;
  text-align: center;
  color: #fff;
}
#sec-transaction .transaction-content .transaction-text-content button {
  border-radius: 25px;
  background-color: #F6214B;
  color: #fff;
  width: 180px;
  height: 45px;
  border: 0;
}

footer {
  padding: 60px 0;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
footer .footer-content div {
  padding: 0 !important;
}
footer .footer-content div p {
  margin: 0 !important;
  text-align: center;
}
footer .footer-content div ul {
  display: flex;
  gap: 10px;
}
footer .footer-content div ul li {
  list-style: none;
  background-color: #111111;
  padding: 4px 10px;
  color: #fff;
}

@media screen and (min-width: 0) and (max-width: 991px) {
  header .nav-bottom .nav-brand {
    display: block;
  }
  header .nav-top {
    display: none;
  }
  #sec-hero {
    padding: 40px 0;
  }
  #sec-hero .container .sec-hero-content .sec-hero-text-content h2 {
    font-size: 35px;
  }
  #sec-courses .courses-content .courses-cards .cardd {
    width: 270px;
  }
  #sec-courses .courses-content .courses-cards .cardd .imgDiv {
    width: 100%;
  }
  #sec-courses .courses-content .courses-cards .cardd .imgDiv img {
    width: 100%;
  }
  #sec-courses .courses-content .courses-cards .cardd .imgDiv button {
    position: absolute;
    left: 5%;
    top: 47%;
    width: 140px;
    height: 36px;
  }
}